@import 'sections';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(61, 61, 61);
}

button {
    font-family: "Poppins", sans-serif;
}

path,
i,
svg {
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .colors {
        height: 2000px;
        display: flex;
        flex-direction: column;
    }
}